<!DOCTYPE html>
<html lang="en">

<title>upcoming events</title>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: lemonchiffon;">
    <h1 style="padding-left: 1.2rem;">Future Event</h1>
    <div style="display: flex ; flex-wrap: wrap;">
        {%for event in future_events%}
        <div
            style="background-color: greenyellow; padding: 0.625rem; border-radius: 1rem; font-size: 1.2rem; display: inline-block;margin: 1rem; width: 18%;">
            <span style="color: rgb(74, 72, 72);">name: </span>
            <a href={{url}}{{event.id}}>{{event.name}}
            </a>
            <p></p>
            <span style="color: rgb(74, 72, 72);">date: </span>
            <span>{{event.date}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">location: </span>
            <span>{{event.location}}</span>
        </div>
        {% endfor %}
    </div>
    <h1 style="padding-left: 1.2rem;">Last 7 days Event</h1>
    {% for event in past_events %}
    <div style="display: flex ;">
        <div
            style="background-color: rgb(249, 93, 93); padding: 0.625rem; border-radius: 1rem; font-size: 1.2rem;display: inline-block;margin: 1rem; width: 18%;">
            <span style="color: rgb(74, 72, 72);">name: </span>
            <a href={{url}}{{event.id}}>{{event.name}}
            </a>
            <p></p>
            <span style="color: rgb(74, 72, 72);">date: </span>
            <span>{{event.date}}</span>
            <p></p>
            <span style="color: rgb(74, 72, 72);">location: </span>
            <span>{{event.location}}</span>
        </div>
        <br>
        {% endfor %}
    </div>

</body>

</html>